{% extends 'layout.njk' %}
{% block  content %}
  <h1>hello</h1>

  <ol>
    <li>Go to a page for a code file on github.com</li>
    <li>Click <code>Y</code> on your keyboard so that the url includes the SHA for the relevant commit</li>
    <li>Change the <code>github.com</code> part of the url to <code>github-pdf.glitch.me</code></li>
    <li>Give it a minute</li>
  </ol>

{% endblock %}



